<p ".class">This is a class name</p>
<button on:click={setHidden(!)}> 
    <Show when={!hidden}>
        {Show}{Hide} it!
    </Show>
</button>


<script>
const hidden = createSignal<boolean>(false)
const posts = createSignal<{ link: string; content: string }({})
</script>