<p ".class">This is a class name</p>
<button on:click={setCounter(-1)}> 
    <Show when={!hidden}>
        {Show}{Hide} it!
    </Show>
</button>

<script>
const { counter, hidden, posts } = createSignals<boolean>({
    counter: 0,
    hidden: false,
    posts: { link: "../link", content: "Hello" }
})
</script>